<form class='item-form' [formGroup]="itemForm">
    <mat-form-field>
        <input matInput placeholder="Item name" formControlName="ItemName">
        <mat-error *ngIf="ItemName.invalid && ItemName.touched">
            This field is required.
        </mat-error>
    </mat-form-field> <br>
    <mat-form-field>
        <input type='number' matInput placeholder="Quality" formControlName="Quality">
        <mat-error *ngIf="Quality.invalid && Quality.touched">
            This field is required.
        </mat-error>
    </mat-form-field> <br>
    <mat-form-field>
        <input type='number' matInput placeholder="Sell in" formControlName="SellIn">
        <mat-error *ngIf="SellIn.invalid && SellIn.touched">
            This field is required.
        </mat-error>
    </mat-form-field> <br>
    <button mat-raised-button color='primary' [disabled]='itemForm.invalid' (click)='handleSubmit()'>Get Values!</button>
</form>